# Dependencies
/node_modules/

# IDE
.idea/
.vscode/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Logs
/logs/
*.log

# Uploads
/wp-content/uploads/wayback-image-restorer/

# Environment
.env
.env.local

# Build
*.zip
